header {
    text-align: center;
    padding: 50px;
    font-weight: 600;
    background-color: #ffffff;
    width: 100vw;
}

body {
    background-color:#FFFAFA;
    align-items:center;
}

#div1 {
    line-height: 2.0;
    padding: 20px 120px 10px 110px;
}

#div2 {
    line-height: 2.0;
    padding: 20px 120px 10px 110px;
}

hr {
    width: 80%;
    margin: 0 auto;
}